spring:
  datasource:
    username: root
    password: 200265
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gulimall_wms?serverTimezone=Asia/Shanghai
  application:
    name: gulimall-ware
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.42.128:8848
mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  global-config:
    db-config:
      id-type: auto
server:
  port: 11000

